.about_us {
    margin: 0;
    background-color: #E8EAEB;
}

.aboutus_header {
    font-family: ff-meta-correspondence-web-p,ans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-align: end;
    padding: 40px 10px 0;
    margin-left: 20%;
    margin-bottom: 25px;
    border-bottom: 9px solid #556476;

}

.aboutus_text {
    padding: 10px;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}


/*this is the photo gallery */

.gallery_section {
    margin: auto;
}

.gallery {
    width: 85%;
    margin: 28px auto;
}

.image {
    width: 200px;
}

/* arrows */

.slick-prev {
    position: absolute;
    top: 35%;
    left: -7%;
}

.slick-next {
    position: absolute;
    top: 35%;
    right: -7%;
}

.slick-prev,
.slick-next {
    width: 20px;
    height: 40px;
    cursor: pointer;
    outline: none;
    background: transparent;
}


.slick-prev:before,
.slick-next:before {
    font-family: 'lato light';
    font-size: 60px;
    line-height: ;
    color: white;
}

.slick-prev:before {
    content: '‹';
}


.slick-next:before {
    content: '›';
}


/* feedback section starts */

.feedback_section {
    background-color: #E8EAEB;
}

.feedback_container {
    text-align: center;
    padding: 20px 10px;
    background-color: #E8EAEB;
}

.feedback_header {
    font-family: ff-meta-correspondence-web-p,ans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-bottom: 5px;
}

.feedback {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 15px;
}

.feedback_date {
    font-family: ff-meta-correspondence-web-p,ans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    border-top: solid 1px #556476;
    padding: 5px 12px 0 12px;
}


/* Dots */

.slick-dotted.slick-slider {
    padding-bottom: 5px;
}

.slick-dots {
    width: 100%;
    margin: 15px auto 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 22px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 50px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    color: #556476;
    opacity: 0.70;
}

.slick-dots li.slick-active button:before {
    color: #556476;
    font-size: 70px;
    opacity: 1;
}
