*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

f1 {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

f2 {
    font-family: ff-meta-correspondence-web-p, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
}
