.poster-section {
    margin: 0;
    background: #E8EAEB;
    padding-top: 40px;

}


.posters-image {
    width: 90%;
    padding-left: 10px;

}


.posters-header {
    font-family: ff-meta-correspondence-web-p, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    padding-right: 70px;
    text-align: right;

}


.shop-note {
    font-size: 16px;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding-top: 5px;

}
}

.bookmarks-image {
    width: 100%;
}


.bookmarks-header {
    font-family: ff-meta-correspondence-web-p, ans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-align: end;
    padding: 40px 10px 0;
    margin-left: 32%;
    margin-bottom: 25px;
    border-bottom: 9px solid #556476;

}


.bookmarks-section {
    background: #E8EAEB;
}

/*stickers section*/
.stickers-header {
    font-family: ff-meta-correspondence-web-p, ans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    padding: 40px 10px 0;
    margin-bottom: 25px;


}

/*pseudo element for the border*/
.stickers-header:after {
    margin: 0 auto;
    display: block;
    width: 225px;
    border-bottom: 9px solid #556476;
    content: "";
}

.stickers-image {
    width: 100%;
}

.stickers-section {
    background: #E8EAEB;
}

/*badges section*/
.badges-header {
    font-family: ff-meta-correspondence-web-p, ans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    padding: 40px 10px 0 0;
    margin-right: 40%;
    margin-bottom: 25px;
    border-bottom: 9px solid #556476;

}

.badges-image {
    width: 100%;
}

.badges-section {
    background-color: #E8EAEB;
    padding-bottom: 50px;

}
