.header {
    position: -webkit-sticky;
    position: sticky;
  top: 0;
}

.procedures_header {
    position: fixed;
    width: 100%;
    background-image: url(../images/prepareHeader-01.png);
    background-size: cover;
    text-align: end;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #E8EAEB;
    padding: 10px;
    font-size: 7vw;
    text-align: center;
}

.procedures_header1 {
    padding-right: 14%;
}

.procedures_header2 {
    text-align: end;
}

.prepare_content {
    background-color: #E8EAEB;
    padding-top: 32%;
}

.prepare_subh {
    font-family: ff-meta-correspondence-web-p,ans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    padding: 15px 10px 0;
}

.prepare_text {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0 10px;
}

.prepare_img {
    position: relative;
    z-index: 1;
    background-image: url(../images/prepareHand-01.png);
    background-size: cover;
    padding-top: 10px;
    margin-top: 20px;
}

.white {
    color: #E8EAEB;
}

.white2 {
    padding-bottom: 95px;
}

.prepare_text2 {
    position: relative;
    z-index: 1;
    background-color: #E8EAEB;
    padding-bottom: 20px;
    padding-top: 10px;
}

.hygiene_section {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

.hygiene_header {
    position: -webkit-sticky;
  position: sticky;
  top: 0;
    background-image: url(../images/hygiene-01.png);
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 80px;
    padding-left: 105px;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #E8EAEB;
    font-size: 13vw;
}

.hygiene_text {
    background-color: #E8EAEB;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
}

.hygiene_image {
    width: 100%;
}

.aftercare {
    position: relative;
    z-index: 4;
    background-image: url(../images/aftercare-01.png);
    background-size: cover;
    height: 300px;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;;
    justify-content: space-between;
}

.aftercare_text {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 10px 10px;

}

.aftercare_header {
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 12vw;
    padding-right: 14%;
    padding-left: 14%;
    color: #E8EAEB;
    text-align: center;
}

.btn {
    background-color: transparent;
    border: 0.5px solid #546375;
    border-radius: 25px;
    font-size: 25px;
    padding: 3px;
    margin: 0 10px 10px 0;
}

.cta {
    background-color: #E8EAEB;
    color: #59687A;
    border: 1.5px solid #546375;
    border-radius: 25px;
    font-family: azo-sans-web, sans-serif;
    font-style: normal;
    font-weight: 900;
   text-align: center;
    font-size: 20px;
    padding: 6px 30px;
}

button {
    outline: none;
}

#aftercare_sheet {
    width: 100%;
    position: relative;
    z-index: 7;
}

